{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sądy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Numer telefonu</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for court in courts %}
            <tr>
                <td><a href="{{ path('court_show', { 'id': court.id }) }}">{{ court.id }}</a></td>
                <td>{{ court.name }}</td>
                <td>{{ court.type }}</td>
                <td>{{ court.phone }}</td>
                <td>{{ court.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('court_show', { 'id': court.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('court_edit', { 'id': court.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('court_new') }}">Dodaj nowy sąd</a>
        </li>
    </ul>
{% endblock %}
