{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statusy spraw sądowych</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for lawsuitStatus in lawsuitStatuses %}
            <tr>
                <td><a href="{{ path('lawsuitstatus_show', { 'id': lawsuitStatus.id }) }}">{{ lawsuitStatus.id }}</a></td>
                <td>{{ lawsuitStatus.value }}</td>
                <td>{{ lawsuitStatus.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lawsuitstatus_show', { 'id': lawsuitStatus.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('lawsuitstatus_edit', { 'id': lawsuitStatus.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawsuitstatus_new') }}">Dodaj nowy status sprawy sądowej</a>
        </li>
    </ul>
{% endblock %}
