{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lawsuitstatus</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lawsuitStatus.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ lawsuitStatus.value }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ lawsuitStatus.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawsuitstatus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lawsuitstatus_edit', { 'id': lawsuitStatus.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
