{% extends 'base.html.twig' %}

{% block body %}
    <h1>Naturalpeople list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for naturalPerson in naturalPeople %}
            <tr>
                <td><a href="{{ path('naturalperson_show', { 'id': naturalPerson.id }) }}">{{ naturalPerson.id }}</a></td>
                <td>{{ naturalPerson.name }}</td>
                <td>{{ naturalPerson.surname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('naturalperson_show', { 'id': naturalPerson.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('naturalperson_edit', { 'id': naturalPerson.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('naturalperson_new') }}">Create a new naturalPerson</a>
        </li>
    </ul>
{% endblock %}
