{% extends 'base.html.twig' %}

{% block body %}
    <h1>Osoby fizyczne</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for naturalPerson in naturalPeople %}
            <tr>
                <td><a href="{{ path('naturalperson_show', { 'id': naturalPerson.id }) }}">{{ naturalPerson.id }}</a></td>
                <td>{{ naturalPerson.name }}</td>
                <td>{{ naturalPerson.surname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('naturalperson_show', { 'id': naturalPerson.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('naturalperson_edit', { 'id': naturalPerson.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('naturalperson_new') }}">Dodaj nową osobę fizyczną</a>
        </li>
    </ul>
{% endblock %}
