{% extends 'base.html.twig' %}

{% block body %}
    <h1>Osoba fizyczna</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ naturalPerson.id }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ naturalPerson.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ naturalPerson.surname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('naturalperson_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('naturalperson_edit', { 'id': naturalPerson.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
