{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wyroki nakazowe</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data otrzymania</th>
                <th>Komentarz</th>
                <th>Numer połączenia spraw</th>
                <th>Plik</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for courtOrder in courtOrders %}
            <tr>
                <td><a href="{{ path('courtorder_show', { 'id': courtOrder.id }) }}">{{ courtOrder.id }}</a></td>
                <td>{% if courtOrder.acceptDate %}{{ courtOrder.acceptDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ courtOrder.comment }}</td>
                <td>{{ courtOrder.CaseConnNumber }}</td>
                <td>{{ courtOrder.file }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('courtorder_show', { 'id': courtOrder.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('courtorder_edit', { 'id': courtOrder.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('courtorder_new') }}">Dodaj nowy nakaz sądowy</a>
        </li>
    </ul>
{% endblock %}
