{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wyrok nakazowy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ courtOrder.id }}</td>
            </tr>
            <tr>
                <th>Data otrzymania</th>
                <td>{% if courtOrder.acceptDate %}{{ courtOrder.acceptDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ courtOrder.comment }}</td>
            </tr>
            <tr>
                <th>Numer połączenia spraw</th>
                <td>{{ courtOrder.CaseConnNumber }}</td>
            </tr>
            <tr>
                <th>Plik</th>
                <td>{{ courtOrder.file }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('courtorder_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('courtorder_edit', { 'id': courtOrder.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
