{% extends 'base.html.twig' %}

{% block body %}
    <h1>Courtorder</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ courtOrder.id }}</td>
            </tr>
            <tr>
                <th>Acceptdate</th>
                <td>{% if courtOrder.acceptDate %}{{ courtOrder.acceptDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ courtOrder.comment }}</td>
            </tr>
            <tr>
                <th>Caseconnnumber</th>
                <td>{{ courtOrder.CaseConnNumber }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ courtOrder.file }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('courtorder_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('courtorder_edit', { 'id': courtOrder.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
