{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wydarzenia</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Data wydarzenia</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td><a href="{{ path('incident_show', { 'id': incident.id }) }}">{{ incident.id }}</a></td>
                <td>{{ incident.name }}</td>
                <td>{% if incident.incidentDate %}{{ incident.incidentDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ incident.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('incident_show', { 'id': incident.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('incident_edit', { 'id': incident.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('incident_new') }}">Dodaj nowe wydarzenie</a>
        </li>
    </ul>
{% endblock %}
