{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kodeksy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Skrót</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for legalCode in legalCodes %}
            <tr>
                <td><a href="{{ path('legalcode_show', { 'id': legalCode.id }) }}">{{ legalCode.id }}</a></td>
                <td>{{ legalCode.name }}</td>
                <td>{{ legalCode.abbreviation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('legalcode_show', { 'id': legalCode.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('legalcode_edit', { 'id': legalCode.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('legalcode_new') }}">Dodaj nowy kodeks</a>
        </li>
    </ul>
{% endblock %}
