{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kodeks</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ legalCode.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ legalCode.name }}</td>
            </tr>
            <tr>
                <th>Skrót</th>
                <td>{{ legalCode.abbreviation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('legalcode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('legalcode_edit', { 'id': legalCode.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
