{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresy wydarzeń</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Numer domu</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for incidentAddress in incidentAddresses %}
            <tr>
                <td><a href="{{ path('incidentaddress_show', { 'id': incidentAddress.id }) }}">{{ incidentAddress.id }}</a></td>
                <td>{{ incidentAddress.city }}</td>
                <td>{{ incidentAddress.street }}</td>
                <td>{{ incidentAddress.houseNumber }}</td>
                <td>{{ incidentAddress.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('incidentaddress_show', { 'id': incidentAddress.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('incidentaddress_edit', { 'id': incidentAddress.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('incidentaddress_new') }}">Dodaj nowy adres wydarzenia</a>
        </li>
    </ul>
{% endblock %}
