{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adres wydarzenia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ incidentAddress.id }}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{ incidentAddress.city }}</td>
            </tr>
            <tr>
                <th>Ulica</th>
                <td>{{ incidentAddress.street }}</td>
            </tr>
            <tr>
                <th>Numer domu</th>
                <td>{{ incidentAddress.houseNumber }}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ incidentAddress.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('incidentaddress_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('incidentaddress_edit', { 'id': incidentAddress.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
