{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Ulica</th>
                <th>Numer domu</th>
                <th>Numer mieszkania</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.city }}</td>
                <td>{{ address.postalCode }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.houseNumber }}</td>
                <td>{{ address.apartmentNumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('address_show', { 'id': address.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('address_edit', { 'id': address.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_new') }}">Dodaj nowy adres</a>
        </li>
    </ul>
{% endblock %}
