{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizacje</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typ organizacji</th>
                <th>Nazwa</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for juridicalPerson in juridicalPeople %}
            <tr>
                <td><a href="{{ path('juridicalperson_show', { 'id': juridicalPerson.id }) }}">{{ juridicalPerson.id }}</a></td>
                <td>{{ juridicalPerson.organizationType }}</td>
                <td>{{ juridicalPerson.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('juridicalperson_show', { 'id': juridicalPerson.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('juridicalperson_edit', { 'id': juridicalPerson.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('juridicalperson_new') }}">Dodaj nową organizację</a>
        </li>
    </ul>
{% endblock %}
