{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organizacja</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ juridicalPerson.id }}</td>
            </tr>
            <tr>
                <th>Typ organizacji</th>
                <td>{{ juridicalPerson.organizationType }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ juridicalPerson.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('juridicalperson_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('juridicalperson_edit', { 'id': juridicalPerson.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
