{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sprawy sądowe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data dodania</th>
                <th>Data przesłuchania</th>
                <th>Sygnatura sądowa</th>
                <th>Strona sporu</th>
                <th>Komentarz</th>
                <th>Werdykt</th>
                <th>Werdykt w skrócie</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for lawsuit in lawsuits %}
            <tr>
                <td><a href="{{ path('lawsuit_show', { 'id': lawsuit.id }) }}">{{ lawsuit.id }}</a></td>
                <td>{% if lawsuit.addDate %}{{ lawsuit.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lawsuit.hearingDate %}{{ lawsuit.hearingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ lawsuit.signature }}</td>
                <td>{{ lawsuit.side }}</td>
                <td>{{ lawsuit.comment }}</td>
                <td>{{ lawsuit.verdict }}</td>
                <td>{{ lawsuit.verdictShort }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lawsuit_show', { 'id': lawsuit.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('lawsuit_edit', { 'id': lawsuit.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawsuit_new') }}">Dodaj nową sprawę sądową</a>
        </li>
    </ul>
{% endblock %}
