{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sędziowie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data dodania</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for judge in judges %}
            <tr>
                <td><a href="{{ path('judge_show', { 'id': judge.id }) }}">{{ judge.id }}</a></td>
                <td>{{ judge.name }}</td>
                <td>{{ judge.surname }}</td>
                <td>{% if judge.addDate %}{{ judge.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ judge.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('judge_show', { 'id': judge.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('judge_edit', { 'id': judge.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('judge_new') }}">Dodaj nowego sędziego</a>
        </li>
    </ul>
{% endblock %}
