{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sędzia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ judge.id }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ judge.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ judge.surname }}</td>
            </tr>
            <tr>
                <th>Data dodania</th>
                <td>{% if judge.addDate %}{{ judge.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ judge.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('judge_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('judge_edit', { 'id': judge.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
