{% extends 'base.html.twig' %}

{% block body %}
    <h1>Judge</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ judge.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ judge.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ judge.surname }}</td>
            </tr>
            <tr>
                <th>Adddate</th>
                <td>{% if judge.addDate %}{{ judge.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ judge.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('judge_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('judge_edit', { 'id': judge.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
