{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paragrafy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Artykuł</th>
                <th>Paragraf</th>
                <th>Ustęp</th>
                <th>Treść</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for clause in clauses %}
            <tr>
                <td><a href="{{ path('clause_show', { 'id': clause.id }) }}">{{ clause.id }}</a></td>
                <td>{{ clause.article }}</td>
                <td>{{ clause.section }}</td>
                <td>{{ clause.point }}</td>
                <td>{{ clause.content }}</td>
                <td>{{ clause.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clause_show', { 'id': clause.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('clause_edit', { 'id': clause.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clause_new') }}">Dodaj nowy paragraf</a>
        </li>
    </ul>
{% endblock %}
