{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paragraf</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clause.id }}</td>
            </tr>
            <tr>
                <th>Artykuł</th>
                <td>{{ clause.article }}</td>
            </tr>
            <tr>
                <th>Paragraf</th>
                <td>{{ clause.section }}</td>
            </tr>
            <tr>
                <th>Ustęp</th>
                <td>{{ clause.point }}</td>
            </tr>
            <tr>
                <th>Treść</th>
                <td>{{ clause.content }}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ clause.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clause_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('clause_edit', { 'id': clause.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
