{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statusy spraw dochodzeniowych</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for investigationStatus in investigationStatuses %}
            <tr>
                <td><a href="{{ path('investigationstatus_show', { 'id': investigationStatus.id }) }}">{{ investigationStatus.id }}</a></td>
                <td>{{ investigationStatus.value }}</td>
                <td>{{ investigationStatus.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('investigationstatus_show', { 'id': investigationStatus.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('investigationstatus_edit', { 'id': investigationStatus.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('investigationstatus_new') }}">Dodaj nowy status sprawy dochodzeniowej</a>
        </li>
    </ul>
{% endblock %}
