{% extends 'base.html.twig' %}

{% block body %}
    <h1>Słowa kluczowe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Słowo</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td><a href="{{ path('keyword_show', { 'id': keyword.id }) }}">{{ keyword.id }}</a></td>
                <td>{{ keyword.word }}</td>
                <td>{{ keyword.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('keyword_show', { 'id': keyword.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('keyword_edit', { 'id': keyword.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('keyword_new') }}">Dodaj nowe słowo kluczowe</a>
        </li>
    </ul>
{% endblock %}
