{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prawnicy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Email</th>
                <th>Data dodania</th>
                <th>Profil kompletny</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for lawyer in lawyers %}
            <tr>
                <td><a href="{{ path('lawyer_show', { 'id': lawyer.id }) }}">{{ lawyer.id }}</a></td>
                <td>{{ lawyer.name }}</td>
                <td>{{ lawyer.surname }}</td>
                <td>{{ lawyer.phone }}</td>
                <td>{{ lawyer.email }}</td>
                <td>{% if lawyer.addDate %}{{ lawyer.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lawyer.completeProfile %}Yes{% else %}No{% endif %}</td>
                <td>{{ lawyer.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lawyer_show', { 'id': lawyer.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('lawyer_edit', { 'id': lawyer.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawyer_new') }}">Dodaj nowego prawnika</a>
        </li>
    </ul>
{% endblock %}
