{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lawyer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lawyer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lawyer.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ lawyer.surname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ lawyer.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lawyer.email }}</td>
            </tr>
            <tr>
                <th>Adddate</th>
                <td>{% if lawyer.addDate %}{{ lawyer.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Completeprofile</th>
                <td>{% if lawyer.completeProfile %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ lawyer.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawyer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lawyer_edit', { 'id': lawyer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
