{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prawnik</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lawyer.id }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ lawyer.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ lawyer.surname }}</td>
            </tr>
            <tr>
                <th>Numer telefonu</th>
                <td>{{ lawyer.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lawyer.email }}</td>
            </tr>
            <tr>
                <th>Data dodania</th>
                <td>{% if lawyer.addDate %}{{ lawyer.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Profil kompletny</th>
                <td>{% if lawyer.completeProfile %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ lawyer.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawyer_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('lawyer_edit', { 'id': lawyer.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
