{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kancelarie prawne</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Numer telefonu</th>
                <th>Email</th>
                <th>Komentarz</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for lawFirm in lawFirms %}
            <tr>
                <td><a href="{{ path('lawfirm_show', { 'id': lawFirm.id }) }}">{{ lawFirm.id }}</a></td>
                <td>{{ lawFirm.name }}</td>
                <td>{{ lawFirm.phone }}</td>
                <td>{{ lawFirm.email }}</td>
                <td>{{ lawFirm.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lawfirm_show', { 'id': lawFirm.id }) }}">pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('lawfirm_edit', { 'id': lawFirm.id }) }}">edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawfirm_new') }}">Dodaj nową kancelarię prawną</a>
        </li>
    </ul>
{% endblock %}
