{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kancelaria prawna</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lawFirm.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ lawFirm.name }}</td>
            </tr>
            <tr>
                <th>Numer telefonu</th>
                <td>{{ lawFirm.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lawFirm.email }}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ lawFirm.comment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lawfirm_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('lawfirm_edit', { 'id': lawFirm.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
