{% extends 'base.html.twig' %}

{% block body %}
    <h1>Policeofficer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ policeofficer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ policeofficer.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ policeofficer.surname }}</td>
            </tr>
            <tr>
                <th>Adddate</th>
                <td>{% if policeofficer.addDate %}{{ policeofficer.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ policeofficer.comment }}</td>
            </tr>
            <tr>
                <th>Ok</th>
                <td>{{ policeofficer.ok }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('policeofficer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('policeofficer_edit', { 'id': policeofficer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
